p{
    font-family: Roboto, Arial;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    height: 60px;
    display: flex;

}

.header-left{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.logo-insta{
    height: 40px;
    
}

.header-mid{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar{
    padding: 7px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: Roboto, Arial;
    width: 268px;
    background-color: #efefef;
    font-weight: initial;
}

.header-right{
    background-color: pink;
    flex: 1;
}

.header-right img {
    height: 40px;
    width: 40px;
}
