
.header {
    height: 120px;
    background-image: linear-gradient(0, #fe6233, #f7442e);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin: 6px 0 0 0;
}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
}

.header__navbar-item:hover .header__notify{
    display: block;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: inline-flex;
    align-items: center;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover {
    color: rgba(255,255,255,0.7);
    cursor: pointer;
}

.header__navbar-item--strong {
    font-weight: 400;
}

.header__navbar-item-separate::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 12px;
    background-color: #fff;
    right: -9px;
    top: 15%;
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 3px;
}

.header__navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}

/* Header QR code */
.header__qr {
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    left: 0;
    top: 120%;
    padding: 8px;
    border-radius: 2px;
    display: none;
}

.header__qr::before {
    position: absolute;
    height: 30px;
    width: 100%;
    content: "";
    display: block;
    left: 0;
    top: -15px;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.header__qr-link:first-child {
    margin-left: 11px;
}

.header__qr-link:nth-child(2) {
    margin-right: 11px;
}

.header__qr-download-img {
    height: 15px;
}

.header__navbar-item-separate:hover .header__qr {
    display: block;
}

.header__notify {
    position: absolute;
    width: 404px;;
    top: 120%;
    right: 0;
    background-color: var(--white-color);
    border: 1px solid #d3d3d3;
    cursor: default;
    user-select: none;
    transform-origin: 90% top;
    animation: headerNotifyGrow ease-in 0.25s;
    display: none;
}

.header__notify::before{
    content: "";
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 0px;
    top: -26px;
    border-width: 20px 30px;
}

.header__notify::after{
    content: "";
    position: absolute;
    display: block;
    width: 90px;
    right: 0;
    top: -10px;
    height: 10px;
}

@keyframes headerNotifyGrow {
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
    line-height: 40px;
}

.header__notify-header h3 {
    color: #666;
    font-weight: 300;
    font-size: 1.4rem;
    margin: 0 0 0 12px;

}

.header__notify-list {
    padding-left: 0;
    list-style: none;
}

.header__notify-item {
}

.header__notify-item:hover {
    opacity: 0.8;
}

.header__notify-item--viewed {
    background-color: rgba(238, 75, 43, 0.09);
}

.header__notify-link {
    display: flex;
    padding: 12px;
    text-decoration: none;
    width: 100%;
}

.header__notify-img {
    width: 48px;
    height: 48px;
    object-fit: contain;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: 14px;
    color: var(--text-color);
    font-weight: 400;
}

.header__notify-desc {
    display: block;
    font-size: 12px;
    color: var(--black-color);
    opacity: 0.7;
    line-height: 2.2rem;
}

.header__notify-footer {
    display: block;
    display: flex;
}

.header__notify-footer-btn {
    text-decoration: none;
    color: var(--black-color);
    padding: 8px 32px;
    margin: auto;
    font-size: 1.4rem;
    font-weight: 400;
}

.auth-form{
    width: 500px;
}

.auth-form__container{
    padding: 0 32px;
}

.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}

.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn{
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 400;
    cursor: pointer;
}

.auth-form__form{
    margin-top: 12px;
}

.auth-form__group{
    margin-bottom: 16px;
}

.auth-form__input{
    width: 100%;
    height: 40px;
    padding: 0 12px;
    font-size: 1.3rem;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    outline: none;
}

.auth-form__input:focus{
    border-color: #888;
}

.auth-form__aside{

}

.auth-form__policy-text{
    line-height: 1.8rem;
    font-size: 1.3rem;
    text-align: center;
}

.auth-form__text-link{
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__controls-back{
    margin-right: 8px;
}

.auth-form__controls{
    display: flex;
    justify-content: flex-end;
}

.auth-form__socials{
    background-color: #F5F5F5;
    padding: 12px 32px;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    border-radius: 5px;
 }

 .auth-form__controls-back{
    background-color: var(--white-color);
 }

 .btn--primary{
    background-color: var(--primary-color);
 }

.auth-form__socials-icon--facebook{
    background-color: rgba(139, 139, 236, 0.944);
    color: var(--white-color);
    border-radius: 3px;
}

.auth-form__socials-icon--google{
    background-color: var(--white-color);
    color: var(--text-color);
    border-radius: 3px; 
}

.auth-form__socials-icon{
    font-size: 1.8rem;
}

.fa-facebook{
    color: var(--white-color);
}

.auth-form__socials-title{
    padding: 0 24px;
}

.auth-form__help{
    display: flex;
    justify-content: flex-end;
}

.auth-form__link{
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}

.auth-form__help-separate{
    display: block;
    height:22px;
    margin: -3px 16px 0;
    border-left:1px solid #eaeaea ;
}

.auth-form__help-forgot{
    color: var(--primary-color);
}

.header-with-search{
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
}

.header__logo{
    width: 200px;
}

.header__logo-img{
    width: 150px;
}

.header__search{
    background-color: var(--white-color);
    height: 40px;
    flex: 1;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.header__cart{
    width: 150px;
    display: flex;
    justify-content: center;
    position: relative;
}

.header__cart-icon{
    color: var(--white-color);
    font-size: 2.4rem;
}

.header__search-input-wrap{
    flex: 1;
    position: relative;
}



.header__search-input{
    width: 100%;
    flex: 1;
    width: 100%;
    outline: none;
    border: none;
    font-size: 1.4rem;
    padding: 0 16px;
    border-radius: 2px;
}

.header__search-select{
    border-left: 1px solid #ccc;
    padding-left: 16px;
    position: relative;
}

.header__search-select:hover .header__search-option{
    display: block;
}

.header__search-select-label{
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-select-icon{
    font-size: 1.2rem;
    color: #4A4A4A;
    margin: 0 16px;
    position: relative;
}

.header__search-btn{
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    border-radius: 2px;
    margin-right: 3px;
    width: 60px;
}

.header__search-btn:hover{
    opacity: 0.95;
    cursor: pointer;
}

.header__search-btn-icon{
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__search-input:focus ~ .header__search-history{
    display: block;
}

.header__search-option::after {
    content: "";
    display: block;
    width: 100%;
    height: 25px;
    position: absolute;
    top: -20px;
    left: 0;
}

.header__search-option{
    position: absolute;
    list-style: none;
    right: 0;
    top: 140%;
    width: 140px;
    padding: 0;
    box-shadow: 0 0 3px #ccc;
    border-radius: 3px;
    /* overflow: hidden; */
    display: none;
}

.header__search-option-item{
    background-color: var(--white-color);
    padding: 8px;
    text-align: right;
    border-bottom:1px solid #ccc ;
}

.header__search-option-item:last-child{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.header__search-option-item:first-child{
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.header__search-option-item:hover{
    background-color: #fafafa;
    cursor: pointer;
}

.header__search-option-item span{
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-option-item i{
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 20px;
}

.header__search-history{
    position: absolute;
    top: calc(100% + 15px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 3px;
    box-shadow: 0 0 3px #666;
    display: none;
}

.header__search-history-heading{
    margin: 6px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}

.header__search-history-list{
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.header__search-history-item{
    height: 38px;
    padding: 0 12px;
}

.header__search-history-item:hover{
    background-color: #fafafa;
}

.header__search-history-item a{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 38px;
    display: block;
}

.header__search-history-item:last-child{
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.header__cart-list{
    position: absolute;
    top: 100%;
    right: 20px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 3px;
    box-shadow: 0 2px 10px #ccc;
}

.header__cart-no-cart-img{
    height:100%;
    width: 100%;
}