*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    background-color: #efefef;
    height: 10000px;
}

.main{
    position: relative;
}

.header{
    display: flex;
    justify-content: space-around;
    text-align: center;
    height: 50px;
    background-color: white;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
}

.logo-intagram{

}

.logo-instagram img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header .search-bar{
    line-height: 50px;
    
}

.search-bar input{
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 10px;
    min-width: 250px;
    border-radius: 6px;
    font-size: 15px;
}

.header .navigation{
    line-height: 50px;
}

.header .navigation i{
    font-size: 20px;
    margin: 0 10px;
}

.body{
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1fr 1.3fr 1fr 1fr;
}

.story-list{
    display: flex;
    justify-content: space-around;
    border: 1px solid #ccc;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.story-item{
    width: 50px;
    cursor: pointer;
}

.story-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 2.5px solid rgba(255, 114, 12, 1);
}
.story-item p{
    font-size: 12px;
    text-align: center;
    font-weight: 100;
    color: black;
}

.post{
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}

.post__header{
    display: flex;
    align-items: center;
    padding: 10px;
}

.post__header-avatar{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.post__header-avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.post__header-user{
    font-size: 13px;
}

.post__body{
}

.post__body img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.save-icon{
    float: right;
}

.post__footer{
    margin: 10px;
}

.post__footer-icon i{
    font-size: 20px;
    margin: 0 5px;
}

.post-like{
    font-size: 15px;
    margin: 5px 0;
}

.post__footer-caption{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.post__footer-caption p{
    font-weight: 100;
    font-size: 14px;
    margin-left: 5px;
}

.post-day{
    font-size: 14px;
    font-weight: 100;
    margin-bottom: 10px;
}

.post__footer-comment{
    width: 100%;
}

.post__footer-comment input{
    width: 280px;
    padding: 5px;
    border: none;
    outline: none;
}

.post__footer-comment a{
    text-decoration: none;
    float: right;
}