*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: linear-gradient(45deg, #00853e, #50c878);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    height: 400px;
    width: 260px;
    background-color:#242628;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__avatar{
    height: 100px;
    width: 100px;
    overflow: hidden;
    margin-top: 30px;
}

.card__avatar img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #f2726a;
}

.card__avatar:hover .avatar{
    width: 100%;
    height: 100%;
}

.card__information{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__information-name{
    font-size: 24px;
    color: white;
    margin: 20px 0 10px;
}

.card__information-job{
    color: #f2726a;
    font-size: 20px;
}

.social{
    transition: 0.5s;
}

.social i{
    font-size: 20px;
    color: white;
    margin: 25px 20px 40px;
}

.social i:hover{
    cursor: pointer;
    transform: scale(1.5);
}

.contact-btn{
    padding: 12px 35px;
    color: white;
    background-color: #242628;
    border: 1px solid #f2726a;
    border-radius: 8px;
}

.contact-btn:hover {
    background-color: #f2726a;
    cursor: pointer;
}