:root{
    --primary-color:#f2726a;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

body{
    height: 100vh;
    background: linear-gradient(45deg, #00853e, #50c878);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    width: 250px;
    height: 400px;
    background-color: #242628;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin: 0 15px;
}

.card__img{
    margin-top: 30px;
}

.card__img img{
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid var(--primary-color);
}

.card__infor{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card__infor-name{
    font-size: 24px;
    color: white;
    margin-top: 20px;
}

.card__infor-work{
    color: var(--primary-color);
    margin-top: 10px;
}

.card__social{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 35px 0;
}

.card__social i{
    font-size: 24px;
    color: #fff;
}

.card__contact{
    margin-top: 10px;

}

.card__contact-btn{
    padding: 10px 20px;
    font-weight: 100;
    background-color: #242628;
    color: white;
    outline: none;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
}

.card__contact:hover .card__contact-btn{
    background-color: var(--primary-color);
    cursor: pointer;
}