:root{
    --primary-color: #e26e70;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    overflow: hidden;
    background-image: linear-gradient( 45deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 50%, rgb(255, 204, 112) 100% );
    font-family: sans-serif;
    
}

.open-modal-btn{
    padding: 20px 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: white;
    position: relative;
    color: black;
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.open-modal-btn:hover{
    cursor: pointer;
    opacity: 0.7;
    transition: 0.5s;
}

.modal{ 
    top: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal__inner{
    width: 450px;
    top: 50%;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal__header{
    height: 50px;
    background-color: var(--primary-color);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal__header-title,
.modal__header i{
    padding: 0 15px;
    color: white;
    font-size: 17px;
    line-height: 50px;
}

.modal__header-title{
    display: inline-block;
}

.modal__header i{
    display: inline-block;
    float: right;
}

.modal__body{
    background-color: white;
}

.modal__body-title,
.modal__body-desc{
    padding: 0 15px;
}

.modal__body-title{
    padding-top: 15px;
    margin-bottom: 8px;
}

.modal__footer{
    background-color: white;
    padding: 15px;
    display: flex;
    justify-content: flex-end;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.modal__footer-btn{
    padding: 10px 20px;
    background-color: var(--primary-color);
    border: none;
    outline: none;
    color: white;
    border-radius: 5px;
    font-size: 13px;
}

.modal__footer-btn:hover,
.modal__header i:hover{
    cursor: pointer;
    opacity: 0.8;
}

.hide{
    display: none;
}

@keyframes modalShow{
    from{
        top: -200px;
        opacity: 0;
    }
    to{
        top: 0;
        opacity: 1;
    }
}